/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');


// Global Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: $primary-font;
    font-size: 1rem;
    line-height: 1.6;
  }