<section class="about-us text-center my-5">
    <div class="container">
        <h2>About Us</h2>
        <p> Our Mission is to provide flexible, effective skill development to
            empower organizations and individuals. </p>
        <div class="container team_members">
            <div class="row my-5">
                <div class="col-lg-4">
                    <img src="images/admin_img.png" class="rounded-circle"
                        alt="Team member" width="150" />
                    <h4 >Jogn Doe</h4>
                    <p>CEO & Founder</p>
                </div>
                <div class="col-lg-4">
                    <img src="images/admin_img.png" class="rounded-circle"
                        alt="Team member" width="150" />
                    <h4>Jane Smith</h4>
                    <p>Chif Instructor</p>
                </div>
                <div class="col-lg-4">
                    <img src="images/admin_img.png" class="rounded-circle"
                        alt="Team member" width="150" />
                    <h4>Jenny Winget</h4>
                    <p>Technical Lead</p>
                </div>
            </div>

        </div>
    </div>
</section>
